#logo {
    width: 50px;

}

body {
    background-color: #d5e9ff;
}

/*Her har vi lånt noget kode fra: https://www.jqueryscript.net/menu/Basic-Hamburger-Navigation-Menu-jQuery-CSS.html*/

.wrapper {

    width: 100%;

    max-width: 960px;

    margin: 0 auto;


}



.menu-toggle {

    position: absolute;

    padding: 0.8em;

    top: 1em;

    right: .5em;

    cursor: pointer;

    display: flex;

    justify-content: center;

    align-items: center;


}

.menu-toggle {

    height: 20px;
    width: 20px;
    background-color: #439d5a;
    color: white;
    border-radius: 50%;


}



.hamburger,

.hamburger::before,

.hamburger::after {

    content: '';

    display: block;

    background: #d5e9ff;

    height: 3px;

    width: 2em;

    border-radius: 3px;

    -webkit-transition: all ease-in-out 350ms;

    transition: all ease-in-out 350ms;



}



.hamburger::before {

    -webkit-transform: translateY(-7px);

    transform: translateY(-7px);

}



.hamburger::after {

    -webkit-transform: translateY(4px);

    transform: translateY(4px);

}



.open .hamburger {

    -webkit-transform: rotate(45deg);

    transform: rotate(45deg);

}



.open .hamburger::before {

    display: none;

}



.open .hamburger::after {

    -webkit-transform: translateY(-1px) rotate(-90deg);

    transform: translateY(-1px) rotate(-90deg);

}



nav {

    margin: 0;

    padding: 0;


}



nav ul {

    display: flex;

    flex-direction: column;

    list-style-type: none;

    padding: 0;

    margin: 0;

    display: none;

    font-family: 'Molengo', sans-serif;

    text-align: center;

    position: absolute;

    width: 97%;

    margin-top: 4%;


}



nav ul.opening {

    display: block;

    height: 30px;

}



nav li {

    border-bottom: black;

}



nav li:last-child {

    border-bottom: none;

}


nav a:hover,

nav a:focus {

    color: #f8b376;

}



.site-nav--icon {

    font-size: 1.4em;

    margin-right: 1em;

    width: 1.1em;

    text-align: right;

    color: rgba(255, 255, 255, .4);

}


@media only screen and (max-width: 699px) {
   
    nav a {

    color: whitesmoke;

    background: #439d5a;

    display: block;

    padding: 1.5em 4em 1.5em 3em;

    text-transform: uppercase;

    text-decoration: none;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);

    border-radius: 5px;
        
        

}
 
         
        #boks1 {
   
        height: 180px;
        width: 300px;
        background-color: #f8b376;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        border-radius: 25px;       
        
        }
    
        #boks2, #boks3, #boks4 {
   
        height: 180px;
        width: 300px;
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        margin-top: 45px;
        border-radius: 25px;       
        
        }
        
        
        .bokstekst {
         
            display: flex;
            font-size: 9px;
            font-family: 'Poppins', sans-serif;
            justify-content: center;
            margin-left: 5px;
            margin-right: 10px;
            width: 140px;
            align-items: center;
            line-height: 12px;
    
        }
        
   
        
        #suppe {
            
            width: 125px;
            float: right;
            margin-right: -10px;
            

        
            
            
        }
        
        .uoverskrift {
            
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
            font-size: 12px;
            margin-top: 10px;
            padding: -30px;
            display: flex;
            margin-left: 130px;
            
        }
        
        #bokscombi {
            

            
            margin-left: 15px; 
            margin-top: -7px;
            height: auto;
            width: 290px;
            display: flex;
            flex-direction: row;
         
        }
    
    .footer {
        position: fixed !important;
    }
    

    
        
}
@media only screen and (min-width: 700px) {
    
    ul li {
        
        margin-top: -48px;
        
        
    }

   .footer {
        position: fixed !important;
    }

    
    
    .footer-content {
 
  margin-top: -4.5px !important;


}
    
    #fb {
        margin-right: -15px!important;
   
    }
    
    .footler-links {
         margin-left: -50px;
    }
    .menu-toggle {

        display: none;

    }
    
    
    .hamburger {

        display: none;

    }

    nav ul {

        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 50%;
        margin-left: 300px;
        margin-top: -50px;


    }

    nav {
        
        color: none;
    }


    nav li {

        flex: 1 1 auto;

    }



    nav li a {

        padding: 1.5em 1.3em 1.5em 1.3em;

        margin: 0;

        border: none;

    }



    nav a:hover,

    nav a:focus {

        color: #f8b376;

    }

    nav {

        display: flex;

        flex-direction: row;

        justify-content: space-between;

        text-align: center;
        
       
        
    }


    nav a {

        color: whitesmoke;

        display: flex;

        padding: 1.5em 4em 1.5em 3em;

        text-transform: uppercase;

        text-decoration: none;
        


    }
    
    
        #boks1 {
   
        height: 220px;
        width: 500px;
        background-color: #f8b376;
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
        border-radius: 25px;       
        
        }
    
        #boks2, #boks3, #boks4 {
   
        height: 220px;
        width: 500px;
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        margin-top: 45px;
        border-radius: 25px;       
        
        }
    
    #boks3 {
        
        margin-bottom: 130px;
    }
    
    #logo {
        width: 100px;
        height: auto;
    }
    
    .bokstekst {
         
            display: flex;
            font-size: 13px;
            font-family: 'Poppins', sans-serif;
            justify-content: center;
            margin-left: 5px;
            margin-right: 10px;
            width: 220px;
            align-items: center;
            line-height: 20px; 
    
        }
        
   
        
        #suppe {
            
            width: 150px;
            height: auto;
            float: right;
            margin-left: 30px;
            

        
            
            
        }
        
        .uoverskrift {
            
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
            font-size: 16px;
            margin-top: 10px;
            padding: -30px;
            display: flex;
           justify-content: center;
        }
        
        #bokscombi {
            

            
            margin-left: 0px; 
            margin-top: -7px;
            height: auto;
            width: 490px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
         
        }
    

    /*footer*/

.footer {
  background: #618dc9;
  color: white;
  height: 71px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  font-size: 12px;
  line-height: 8px;


}


.footer .footer-content {
  color: white;
  text-align: left;
  position: absolute;
  padding-left: 15px;
  padding-top: 5px;
  margin-top: -10px;


}

.footer .footer-links {
  right: 10px;
  position: fixed;
  float: right;
  margin-top: -62px;
}

#fb {
  padding-right: 5px;
}

#inst {
  margin-left: 30px;
}

/*footer end*/
}

@media only screen and (min-width: 1024px) {
    
      #boks1 {
   
        height: 320px;
        width: 700px;
        background-color: #f8b376;
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
        border-radius: 40px;       
        
        }
    
        #boks2, #boks3, #boks4 {
   
        height: 320px;
        width: 700px;
        background-color: #fff;
        margin-right: auto;
        margin-left: auto;
        margin-top: 45px;
        border-radius: 40px;   
            
        
        }
    
    #boks3 {
        
        margin-bottom: 130px;
    }
    
    #logo {
        width: 100px;
        height: auto;
    }
    
  
    
    .bokstekst {
         
            display: flex;
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            justify-content: center;
            margin-left: 5px;
            margin-right: 10px;
            width: 300px;
            align-items: center;
            line-height: 25px; 
    
        }
        
   
        
        #suppe {
            
            width: 240px;
            height: auto;
            float: right;
            margin-left: 30px;
            

        
            
            
        }
        
        .uoverskrift {
            
            font-family: 'Fjalla One', sans-serif;
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
            padding: -30px;
            display: flex;
           justify-content: center;
        }
        
        #bokscombi {
            

            
            margin-left: 0px; 
            margin-top: -20px;
            height: auto;
            width: 680px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            
         
        }
    
    nav {
        font-size: 20px;
    }
    
}



/*footer*/

.footer {
  background: #618dc9;
  color: white;
  height: 71px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  position: absolute;
  font-size: 12px;
  line-height: 8px;
  max-width: 100%;
}

.footer .footer-content {
  color: white;
  text-align: left;
  position: relative;
  padding-left: 15px;
  padding-top: 5px;
  margin-top: -10px;
}

.footer .footer-links {
  right: 10px;
  position: relative;
  float: right;
  margin-top: -62px;
}

#fb {
  padding-right: 5px;
}

#inst {
  margin-left: 30px;
}

/*footer end*/

/*Her slutter noget af den kode vi har lånt fra: https://www.jqueryscript.net/menu/Basic-Hamburger-Navigation-Menu-jQuery-CSS.html*/
